<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <title>Сайт python</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <header>
    <h1>Чистый js проект</h1>
    <nav>
      <a href="/">Главная</a>
      <a href="#about">О нас</a>
    </nav>
  </header>

  <main>
    <section id="about">
      <h2>Как это работает?</h2>
      <p>Этот проект не использует:</p>
      <ul>
        <li>python</li>
        <li>npm-зависимости</li>
        <li>Сторонние фреймворки</li>
      </ul>
    </section>
  </main>

  <footer>
    <p>© 2023 Чистый js</p>
  </footer>
</body>
</html>